<% var error = error || '' %>
<%- include('partials/header') %>
<%- include('partials/page_header') %>

<section id="form">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <h2>Login to your account</h2>
                    <% if (error.includes('not valid') || error.includes('less than 5') || error.includes('not found') || error.includes('incorrect')) { %>
                        <div class="alert alert-warning text-center"><%= error %></div>
                    <% } %>
                    <form action="/login" method="post">
                        <input type="email" placeholder="Email Address" name="email" required/>
                        <input type="password" placeholder="Password" name="password" required minlength="5"/>
                        <button type="submit" class="btn btn-default">Login</button>
                    </form>
                </div>
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <h2>New User Signup!</h2>
                    <% if (error.includes('at least 3') || error.includes('should be') || error.includes('at least 5') || error.includes('in use')) { %>
                        <div class="alert alert-warning text-center"><%= error %></div>
                    <% } %>
                    <form action="/signup" method="post">
                        <input type="text" placeholder="Name" name="name" required minlength="3"/>
                        <input type="email" placeholder="Email Address" name="email" required/>
                        <input type="password" placeholder="Password" name="password" required minlength="5"/>
                        <button type="submit" class="btn btn-default">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/page_footer') %>
<%- include('partials/footer') %>